body{
    background-color: rgb(247, 247, 156);
    color: rgb(66, 66, 51);
}

main{
    background-color: white;
    border-right: 10px;
    box-shadow: 5px 5px 15px rgba(rgba(164, 175, 8, 0.603));
    width: 600px;
    padding:10px;
    margin: auto;
}

    