@charset "UTF-8";

/* 
    em HTML é ID = em CSS é # (Somente um elemento por documento)
    em HTML é CLASS = em CSS é . (Pode ter vários elementos)   
*/
body{
    background-color: rgba(145, 199, 144, 0.884);
    font: normal 16px Arial, Helvetica, serif;
}

h1{
    color: rgba(41, 87, 40, 0.884);
}

#primeiro{
    background-color: rgb(18, 75, 18);
    color: white;
    text-align: center;   
}

.destaque{
    background-color: rgb(165, 165, 83);
}

h2{
    color: rgb(71, 109, 81);
}


.basico{
    color:rgb(71, 109, 81);;
}



.intermediario{
    color:rgba(133, 133, 65, 0.822);

}


.avancado{

    color: rgba(138, 70, 70, 0.836);
}